* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.336)), to(rgba(0, 0, 0, 0.5))), url(../img/headerbg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.5)), url(../img/headerbg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  background-attachment: fixed;
}

.logo {
  width: 10%;
  margin-left: 1rem;
}

.search {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f4f2f2;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-right: -3.5rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search i.fas.fa-search {
  color: grey;
  opacity: .6;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #A7E4F2;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__link:link, .side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav__link i {
  font-size: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
}

.legal {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  padding: 2.5rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f4f2f2;
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

.overview__stars {
  margin-top: 0.4rem;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview i {
  font-size: 1.2rem;
  width: 1.75rem;
  height: 1.75rem;
  color: #A7E4F2;
}

.overview__location {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overview__icon-location {
  margin-right: .5rem;
}

.overview__rating {
  background-color: #A7E4F2;
  color: #fff;
  margin-left: 3rem;
  padding: 0 2.25rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}

.overview__rating-count {
  font-size: .8rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: #A7E4F2;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-inline span {
  margin-left: 3px;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.btn-inline:hover {
  color: #333;
}

.btn-inline:hover span {
  margin-left: 8px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: none;
            filter: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: drop-shadow(0 1rem 1rem black);
            filter: drop-shadow(0 1rem 1rem black);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: none;
            filter: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: drop-shadow(0 1rem 1rem black);
            filter: drop-shadow(0 1rem 1rem black);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-filter: none;
            filter: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: .7rem;
}

.list__item::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: .7rem;
}

.review {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.review__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.review__user-box {
  margin-right: auto;
}

.review__user-name {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .4rem;
}

.review__user-date {
  font-size: 1rem;
  color: #999;
}

.review__rating {
  color: #A7E4F2;
  font-size: 2.2rem;
  font-weight: 300;
}

.review::before {
  content: "\201C";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: #f4f2f2;
  font-family: sans-serif;
  z-index: 1;
}

.cta {
  padding: 3.5rem 0;
  text-align: center;
}

.cta__news {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#A7E4F2), to(#66CDD9));
  background-image: linear-gradient(to right, #A7E4F2, #66CDD9);
  color: #474747;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#66CDD9));
  background-image: linear-gradient(to left, white, #66CDD9);
}

.btn__visible {
  display: inline-block;
  padding: 2rem 7.5rem;
}

.btn__invisible {
  display: inline-block;
  position: absolute;
  padding: 2rem 0rem;
  left: 0;
  top: -100%;
}

.btn:hover .btn__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: #333;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.beach-view {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2;
}

.description {
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */